body {
    font-family: Helvetica,Arial, sans-serif;
  }
  .navbar.navbar-inverse {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #FFF;
    color: #000;
    padding: 2% 0;
    font-size: 1.0em;
    border: 0;
  }
  a.navbar-brand {
    float: left;
    min-height: 30px;
    padding: 4px 55px 0px;
    color: #000;
  }
  .navbar.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
    color: #000;
    background-color: #FFF;
  }
  .navbar.navbar-inverse .navbar-nav li a:hover {
    color:rgb(0, 0, 0);
    background-color: #FFF;
    border-bottom: 1.2px solid #e34956;  
  }
  
  .glyphicon-search {
    color: #000;
    padding: 0;
  }
  .glyphicon {
  font-size: 1.1em;
  }
  .navbar.navbar-inverse .navbar-header .navbar-toggle {
    background-color: #FFF;
    border: none;
  }
  .navbar.navbar-inverse .navbar-header .icon-bar {
  background-color: rgb(0, 0, 0);
  }
  div.carousel-caption {
    top: 50%;
    transform: translateY(-50%);
    text-align: left;
    color: #000;
    padding-right: 30%;
    text-shadow: none;
  }
  p.backinfo {
    color: rgba(0, 0, 0, 0.623);
    padding-right: 35%;
    text-align: justify;
  }
  button.btn {
    width: 185px;
    height: 50px;
    font-size: 1.2rem;
    color: white;
    background-color: #e63f68;
    border: none;
    border-radius: 5px;  
  }
  button.btn:hover {
    color: #FFF;
    background-color: #e63f69ce;
  }
div.team {
  margin-top: 3%;
  padding-bottom: 2%;
  text-align: justify;
  border-bottom: inset #f0f0f0 2px;

}
div.apps {
  text-align: justify;
  padding-top: 2%;
  border-bottom: inset #f0f0f0 2px;
  padding-bottom: 2%;
}
.img-responsive.cup2{
  height: 120px;
  
}
.img-responsive.bowl {
  height: 120px;

}
div.testimonials {
  padding-top: 2%;
  padding-bottom: 5%;
}
.img-responsive.arnold {
  height: 150px;
  border-radius: 100px;
}
.img-responsive.eminem {
  border-radius: 100px;
  height: 150px;
  }
#qqq {
  font-size: 10px;
  padding: 1%;
}
footer {
  width: 100%;
  background-color: #919191;
  color: #000;
  padding: 5%;
}
.playmarket {
  padding: 2% 1% 1% 1%;
  height: 50px  
} 
.appstore {
  padding: 2% 1% 1% 1%;
  height: 50px;
  
} 
.mail {
  color:#000;
}
.mail:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.582);
}
.fa {
  padding: 20px;
  color: #000;
 
}
.fa:hover {
  color: rgba(0, 0, 0, 0.582); 
  text-decoration: none;
}
@media (max-width: 1100px) {
  div.carousel-caption {
    display: none;
  }
  }
@media (max-width: 900px) {
    a.fa {
      font-size: 20px;
      padding: 10px;
    }
  }